.App {
  text-align: center;
}

button{
  color: white;
  background-color: cadetblue;
  font-size: 20px;
  border-color: rgb(127, 197, 170);
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  padding:4px;
  border-radius: 5px;
  font-style: italic;
}
h1{
  background-color: gray;
  font-family:'Courier New', Courier, monospace;
  color: whitesmoke;
}
p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}
input[type=text]{
  text-decoration:black;
  background-color: rgb(184, 230, 230);
  width: 50%;
  border-radius: 5px;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

